@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,500&display=swap");
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  font-size: 13px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  width: 1050px;
}

.testimonials {
  padding: 2rem;
  border-radius: 8px;
}
.header {
  display: flex;
  align-items: center;
  gap: 15px;
}
h4 {
  margin-bottom: 0;
}
.header img {
  height: 30px;
  border-radius: 50px;
}
.Daniel {
  position: relative;
  background-color: var(--Moderate-violet);
  grid-column: span 2;
  order: 1;
  z-index: 1;
}
.pattern {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 80px;
}

.Jonathan {
  background-color: var(--Very-dark-grayish-blue);
  order: 2;
}
.Jeanette {
  background-color: var(--white);
  order: 4;
}
.Patrick {
  background-color: var(--Very-dark-blackish-blue);
  order: 5;
  grid-column: span 2;
}
.Kira {
  background-color: var(--white);
  order: 3;
  grid-row: span 2;
}

.name h4 {
  font-weight: 300;
}
.name p {
  opacity: 0.5;
}
.description {
  margin-top: 1.3rem;
  color: var(--white);
  font-size: 1.5rem;
}
.description-black {
  margin-top: 1.3rem;
  color: var(--Very-dark-grayish-blue);
  font-size: 1.5rem;
  font-weight: 500;
}
.big-description {
  line-height: 1.4rem;
  margin-top: 1.3rem;
  font-weight: 100;
  opacity: 0.7;
}
.white {
  color: var(--white);
}
.light-blue {
  color: var(--Very-dark-blackish-blue);
}

@media (max-width: 375px) {
  main {
    margin-top: 40px;
    grid-template-columns: 1fr;
    width: 90%;
    height: 100%;
  }
  .Daniel,
  .Jonathan,
  .Jeanette,
  .Patrick,
  .Kira {
    grid-column: span 1;
    grid-row: auto;
  }
  .Daniel {
    order: 1;
  }

  .Kira {
    order: 5;
  }

  .Jonathan {
    order: 2;
  }

  .Jeanette {
    order: 3;
  }

  .Patrick {
    order: 4;
  }
  .pattern {
    right: 20px;
  }
}
